<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="60 seconds">
  <property name="SERVER_HOME" value="/data/logs/spring-boot-project-structure"/>

  <appender name="infofile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${SERVER_HOME}/info.log</file>
    <encoder>
      <pattern>%date %level [%thread] %logger{100} [%file:%line] %msg%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${SERVER_HOME}/logs/info.log.%d.%i</fileNamePattern>
      <!-- 每产生一个日志文件，该日志文件的保存期限为7天 -->
      <maxHistory>7</maxHistory>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <!-- maxFileSize:这是活动文件的大小，默认值是10MB -->
        <maxFileSize>100MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>INFO</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
  </appender>
  <appender name="warnfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${SERVER_HOME}/warn.log</file>
    <encoder>
      <pattern>%date %level [%thread] [%X{LOG_NO}] %logger{100} [%file:%line] %msg%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${SERVER_HOME}/logs/warn.log.%d.%i</fileNamePattern>
      <!-- 每产生一个日志文件，该日志文件的保存期限为7天 -->
      <maxHistory>7</maxHistory>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <!-- maxFileSize:这是活动文件的大小，默认值是10MB -->
        <maxFileSize>100MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>WARN</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
  </appender>
  <appender name="debugfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${SERVER_HOME}/debug.log</file>
    <encoder>
      <pattern>%date %level [%thread] [%X{LOG_NO}] %logger{100} [%file:%line] %msg%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${SERVER_HOME}/logs/debug.log.%d.%i</fileNamePattern>
      <!-- 每产生一个日志文件，该日志文件的保存期限为7天 -->
      <maxHistory>7</maxHistory>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <!-- maxFileSize:这是活动文件的大小，默认值是10MB -->
        <maxFileSize>100MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>DEBUG</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
  </appender>
  <appender name="tracefile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${SERVER_HOME}/trace.log</file>
    <encoder>
      <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${SERVER_HOME}/logs/trace.log.%d.%i</fileNamePattern>
      <!-- 每产生一个日志文件，该日志文件的保存期限为7天 -->
      <maxHistory>7</maxHistory>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <!-- maxFileSize:这是活动文件的大小，默认值是10MB -->
        <maxFileSize>100MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>TRACE</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
  </appender>
  <appender name="errorfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${SERVER_HOME}/error.log</file>
    <encoder>
      <pattern>%date %level [%thread] [%X{LOG_NO}] %logger{100} [%file:%line] %msg%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${SERVER_HOME}/logs/error.log.%d.%i</fileNamePattern>
      <!-- 每产生一个日志文件，该日志文件的保存期限为7天 -->
      <maxHistory>7</maxHistory>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <!-- maxFileSize:这是活动文件的大小，默认值是10MB -->
        <maxFileSize>100MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>ERROR</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
  </appender>
  <!-- 指定项目中某个包，当有日志操作行为时的日志记录级别 -->
  <!-- 级别依次为【从高到低】：FATAL > ERROR > WARN > INFO > DEBUG > TRACE  -->
  <logger name="com.example.structure" level="DEBUG">
    <appender-ref ref="infofile"/>
    <appender-ref ref="warnfile"/>
    <appender-ref ref="debugfile"/>
    <appender-ref ref="errorfile"/>
  </logger>
  <logger name="org.springframework" additivity="false" level="INFO">
    <appender-ref ref="infofile"/>
    <appender-ref ref="warnfile"/>
    <appender-ref ref="errorfile"/>
  </logger>
  <logger name="org.apache" additivity="false" level="WARN">
    <appender-ref ref="warnfile"/>
    <appender-ref ref="errorfile"/>
  </logger>
  <logger name="com.netflix.loadbalancer" level="ERROR"/>
  <logger name="org.mybatis" level="WARN"/>
  <logger name="com.zaxxer.hikari" level="WARN"/>
  <logger name="org.apache.http" level="ERROR"/>
  <logger name="org.mongodb.driver" level="ERROR"/>
  <logger name="io.lettuce.core" level="ERROR"/>
</configuration>